In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
from sklearn.metrics import precision_score, recall_score, f1_score, confusion_matrix, accuracy_score

In [5]:
# loading the data from csv file to a pandas Dataframe
dataset = pd.read_csv('heart_disease_data.csv')
print(f"Dataset Size: {dataset.shape}")
dataset.head(10)

Dataset Size: (303, 14)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [6]:
dataset['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [7]:
dataset.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [15]:
# separating the data and labels
X = dataset.drop(columns = 'target', axis=1)
Y = dataset['target']
scaler = StandardScaler()
scaler.fit(X)
X=scaler.transform(X)
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2)
print(f"Train data: {X_train.shape}, Test data: {X_test.shape}\n\n")
print(f"Train: \n {Y_train.value_counts()}\n")
print(f"Test : \n {Y_test.value_counts()}")

Train data: (242, 13), Test data: (61, 13)


Train:
 target
1    130
0    112
Name: count, dtype: int64

Test :
 target
1    35
0    26
Name: count, dtype: int64